/*
 * custom fonts
 */
@font-face {
    font-family: terminus;
    src: url('../fonts/TerminusTTF-4.47.0.ttf') format('truetype');
}

@font-face {
    font-family: console;
    src: url('../fonts/clacon.ttf') format('truetype');
}

/*
 * resets and generic settings
 */
html, body {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    background-color: #141414;
    color: #33FF33;
    font-family: console;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    height: 976px;
    min-height: 976px;
    max-height: 976px;
}

/*
 * Electron Specific
 */
/* title bar, scroll bar and various chrome */
.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #197F19;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #33FF33;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #66FF66;
}

/*
 * display settings
 */
#emul-view {
    min-width: 85em;
    width: 90em;
    min-height: 41em;
    height: 41em;
    max-height: 41em;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
    vertical-align: top;
    overflow: hidden;
}

#register-view {
    display: inline-block;
    min-width: 7em;
    width: 7em;
    margin: 0;
    margin-right: 0.25em;
    padding: 0;
    height: 41em;
    min-height: 41em;
    margin: 0px auto;
}

.registers {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

#register-view table {
    width: 6em;
}

#register-view tr {
    border: 1px solid black;
}

.register-name {
    width: 2em;
    text-align: right;
    color: #FFB000;
    margin-right: 0.1em;
}

.register-value {
    width: 4em;
    text-align: center;
    color: white;
    background-color: #000080;
}

#memory-view {
    display: inline-block;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 48em;
    win-width: 48em;
    height: 41em;
    min-height: 41em;
}

#stack-view {
    display: inline-block;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    min-width: 10em;
    width: 10.05em;
    height: 41em;
    min-height: 41em;
}

#instruction-view {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 21.6em;
    min-width: 21.6em;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 41em;
    min-height: 41em;
}

#log-window {
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 13em;
    max-height: 13em;
    height: 13em;
    padding-right: 1px;
}

#log {
    font-family: terminus;
    font-size: 13px;
    line-height: 19px;
}

span.mem-line {
    background-color: #000080;
    color: white;
    display: inline-block;
    min-width: 27.75em;
    width: 27.75em;
    margin-right: 0.25em;
}

span.chars {
    color: white;
}

span.debug {
    color: #FFB000;
}

span.warning {
    font-weight: 600;
    color: #f08030;
}

span.error {
    font-weight: 600;
    color: firebrick;
    background-color: navy;
}

span.fatal {
    font-weight: 900;
    font-size: 17px;
    color: black;
    background-color: crimson;
}
