html, body {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    background-color: #141414;
    color: #33FF33;
    font-family: Andale Mono, AndaleMono, monospace;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

#emul-view {
    min-width: 1024px;
    min-height: 768px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
    vertical-align: top;
}

#register-view {
    display: inline-block;
    min-width: 13em;
    width: 13em;
    margin: 0;
    padding: 0;
}

.registers {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

#register-view tr {
    border: 1px solid black;
}

.register-name {
    width: 3em;
    text-align: right;
    color: #FFB000;
}

.register-value {
    width: 10em;
    text-align: center;
    color: white;
    background-color: #000080;
}

#memory-view {
    display: inline-block;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 36em;
    win-width: 36em;
    height: 100%;
}

#stack-view {
    display: inline-block;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    min-width: 16em;
    width: 16em;
}

#instruction-view {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 30em;
    min-width: 30em;
    overflow-y: scroll;
    overflow-x: hidden;
}

#log-window {
    overflow-y: scroll;
}

#log {
    font-size: 13px;
    line-height: 19px;
}

span.mem-line {
    background-color: #000080;
    color: white;
}

span.chars {
    color: white;
}
